<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finboxappwidget">

    <!-- permissions for INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/finbox_app_widget_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/finbox_app_widget_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinboxAppWidget"
        android:usesCleartextTraffic="true">
        <service
            android:name=".UpdateOverviewTrendService"
            android:exported="false"></service>
        <service
            android:name=".UpdateOverviewSignalService"
            android:exported="false" />
        <service
            android:name=".UpdateOverviewNNService"
            android:exported="false" />
        <service
            android:name=".UpdateOverviewBaseService"
            android:exported="false" />

        <activity
            android:name=".TickerDetailConfigure"
            android:exported="true" />
        <activity
            android:name=".OverviewTrendWidgetConfigure"
            android:exported="true" />
        <activity
            android:name=".OverviewSignalWidgetConfigure"
            android:exported="true" />
        <activity
            android:name=".OverviewNNWidgetConfigure"
            android:exported="true" />
        <activity
            android:name=".OverviewBaseWidgetConfigure"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".OverviewNNWidget"
            android:exported="true"
            android:label="Biểu đồ nước ngoài">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/overview_n_n_widget_info" />
        </receiver>
        <receiver
            android:name=".OverviewSignalWidget"
            android:exported="true"
            android:label="Biểu đồ tín hiệu">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/overview_signal_widget_info" />
        </receiver>
        <receiver
            android:name=".OverviewTrendWidget"
            android:exported="true"
            android:label="Biểu đồ xu hướng">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/overview_trend_widget_info" />
        </receiver>

        <activity
            android:name=".TickerDetailActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" />

        <receiver
            android:name=".TickerDetailWidget"
            android:exported="true"
            android:label="Tìm kiếm mã">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_detail_widget_info" />
        </receiver>
        <receiver
            android:name=".OverviewBaseWidget"
            android:exported="true"
            android:label="Biểu đồ nền tảng">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/overview_base_widget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>